<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>GG Library</title> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script>
            function Back() { window.history.back();}
        </script>
        <style>
            img {
              max-width: 100%;
              height: auto;
            }
        </style>
    </head>
    <body>
        <div class="jumbotron text-center">
            <h1 style="color:blue; font-family:'Arial'; font-size:35px; background-color: powderblue;
            padding: 25px;
            background-size: auto;">Details of <%= Library.name %></h1>
        </div>
        <div class="container-fluid">
            <div class="well">

            <div class="row">
                    <p style="color:red; font-family:'Courier New';">Name:  <% if (typeof (Library.name) !== "undefined") { %><%= Library.name %><% } %></p><br>
                    <p style="color:red; font-family:'Courier New';">ISBN:  <% if (typeof (Library.Isbn) !== "undefined") { %><%= Library.Isbn %><% } %></p><br>
                    <p style="color:red; font-family:'Courier New';">Quantity:  <% if (typeof (Library.quantity) !== "undefined") { %><%= Library.quantity %><% } %></p><br>
                    <p style="color:red; font-family:'Courier New';">Publisher:  <% if (typeof (Library.Publisher) !== "undefined") { %><%= Library.Publisher %><% } %></p><br>
                    <p style="color:red; font-family:'Courier New';">Brief Synopsis:  <% if (typeof (Library.Brief_Synopsis) !== "undefined") { %><%= Library.Brief_Synopsis %><% } %></p><br>
                   
                <p style="color:red; font-family:'Courier New';">Creator: <%= Library.creator %></p><br>
                

            </div>
            </div>
            <div class="row ml-md-auto">

                <a href="/edit?_id=<%= Library._id %>" class="btn btn-primary" role="button" style="display: inline-block;
                    background-color: #00FF00;
                    border-radius: 10px;
                    border: 4px double #000000;
                    color: #000000;
                    text-align: center;
                    font-size: 28px;
                    padding: 20px;
                    width: 200px;
                    transition: all 0.5s;
                    cursor: pointer;
                    margin: 5px;">Edit</a>
                <a href="/delete?_id=<%= Library._id %>&creator=<%= Library.creator %>" class="btn btn-primary" role="button" style="display: inline-block;
                    background-color: #FF0000;
                    border-radius: 10px;
                    border: 4px double #000000;
                    color: #eeeeee;
                    text-align: center;
                    font-size: 28px;
                    padding: 20px;
                    width: 200px;
                    transition: all 0.5s;
                    cursor: pointer;
                    margin: 5px;">Delete</a>
                
                <button class="btn btn-primary" onclick="Back()" style="display: inline-block;
                background-color: #7b38d8;
                border-radius: 10px;
                border: 4px double #000000;
                color: #eeeeee;
                text-align: center;
                font-size: 28px;
                padding: 20px;
                width: 200px;
                transition: all 0.5s;
                cursor: pointer;
                margin: 5px;">Back</button>
            </div>
            <br>
            

        </div>
    </body>
</html>
