<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Library</title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script>
        function goBack() { window.history.back();}
        </script>
        <style>
            img {
              max-width: 100%;
              height: auto;
            }
        </style>
    </head>
    <body>
        <div class="jumbotron text-center">
            <h1>Details of <%= Library.name %></h1>
        </div>
        <div class="container-fluid">
            <div class="well">
            <div class="row">
                <% if (Library.photo) { %>
                    <img src="data:image/<%= Library.photo.mimetype %>;base64, <%= Library.photo.data %>"><br>
                <% } %>
            </div>
            <div class="row">
                    <p>Name:  <% if (typeof (Library.name) !== "undefined") { %><%= Library.name %><% } %></p><br>
                    <p>ISBN:  <% if (typeof (Library.Isbn) !== "undefined") { %><%= Library.Isbn %><% } %></p><br>
                    <p>Quantity:  <% if (typeof (Library.quantity) !== "undefined") { %><%= Library.quantity %><% } %></p><br>
                    <p>Publisher:  <% if (typeof (Library.Publisher) !== "undefined") { %><%= Library.Publisher %><% } %></p><br>
                    <p>Brief Synopsis:  <% if (typeof (Library.Brief_Synopsis) !== "undefined") { %><%= Library.Brief_Synopsis %><% } %></p><br>
                   
                <p>Creater: <%= Library.creater %></p><br>
                

            </div>
            </div>
            <div class="row ml-md-auto">

                <a href="/edit?_id=<%= Library._id %>" class="btn btn-primary" role="button">Edit</a>
                <a href="/delete?_id=<%= Library._id %>&owner=<%= Library.owner %>" class="btn btn-primary" role="button">Delete</a>
                
                <button class="btn btn-primary" onclick="goBack()">Back</button>
            </div>
            <br>
            
            <p>end ;)</p>
        </div>
    </body>
</html>
